<!------------------------------------------------------------------------------------------>
<!--Yo VIEW FEEDS KO JS Ko Lagi -->
<!--Yaha bata JS Bata Loop ma Append Garna Suru Garne -->
<div class="col-md-4 mb-4">
  <section>
    <div class="card">
      <div class="view overlay">
        <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="card-img-top" alt="sample">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i class="fa fa-heart"></i></a>
      <div class="card-body">
        <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="mdb-color lighten-3 text-center rounded-bottom">
        <ul class="list-unstyled list-inline font-small mt-3">
          <li class="list-inline-item pr-2 white-text"><i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
        </ul>
      </div>
    </div>
  </section>
</div>
<!--Yaha bata JS Bata Append Garna Suru Garne.... 1 ota card yaha end hunxa -->
<!--Yo VIEW FEEDS KO Html Ko Backup -->
<!--Yaha bata JS Bata Loop ma Append Garna Suru Garne -->
<div class="col-md-4 mb-4">
  <section>
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view overlay">
        <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="card-img-top" alt="sample">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/.Card image-->
      <!--Button-->
      <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i class="fa fa-heart"></i></a>
      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <!-- <h4 class="card-title">Card title</h4>
        <hr> -->
        <!--Text-->
        <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- <a href="#!" class="orange-text d-flex flex-row-reverse p-2">
          <h6 class="waves-effect waves-light">Read more<i class="fa fa-angle-double-right ml-2"></i></h6>
        </a> -->
      </div>
      <!--/.Card content-->
      <!-- Card footer -->
      <div class="mdb-color lighten-3 text-center rounded-bottom">
        <ul class="list-unstyled list-inline font-small mt-3">
          <li class="list-inline-item pr-2 white-text"><i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
          <!-- <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fa fa-comments-o pr-1"></i>12</a></li>
          <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fa fa-facebook pr-1"> </i>21</a></li>
          <li class="list-inline-item"><a href="#" class="white-text"><i class="fa fa-twitter pr-1"> </i>5</a></li> -->
        </ul>
      </div>
      <!-- Card footer -->
    </div>
    <!--/.Card-->
  </section>
</div>
<!--Yaha bata JS Bata Append Garna Suru Garne.... 1 ota card yaha end hunxa -->
<!------------------------------------------------------------------------------------------>
<!--Yo Gallery KO JS Ko Lagi -->
<!-- Yaha Bata Gallery ko buttons suru hunxa-->
<button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>
<!--Yo HTML BAckup -->
<!-- Yaha Bata Gallery ko buttons suru hunxa-->
<button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>
<button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Mountains</button>
<button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Sea</button>
<!------------------------------------------------------------------------------------------>
<!--Yo Notice KO HTML Ko Backup -->
<!-- Card -->
<div class="card card-cascade wider reverse w-100">
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">
    <!-- Title -->
    <h4 class="card-title"><strong>Notice!! Notice!!</strong></h4>
    <!-- Text -->
    <h6><p class="card-text">acacaadadad</p></h6>
    <!-- Posted By -->
    <a class="px-2 li-ic">Notice Posted By:- Ram CShyam Ghanshyam</a>
  </div>
</div>
<!-- Card -->
<!------------------------------------------------------------------------------------------>
<!--Chat Ko backup of html -->
<div class="row">
  <div class="card rare-wind-gradient chat-room">
    <div class="card-body">
      <!-- Grid row -->
      <div class="row px-lg-2 px-2">
        <!-- Grid column -->
        <div class="col-md-12 px-0">
          <div class="chat-message">
            <ul class="list-unstyled chat-1 scrollbar-light-blue">
              <!--Chat Starts Here SENDER -->
              <li class="d-flex justify-content-between mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
                <div class="chat-body white p-3 ml-2 z-depth-1">
                  <div class="header">
                    <strong class="primary-font">Brad Pitt</strong>
                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </li>
              <!--Chat Ends Here SENDER -->
              <!--Chat Starts Here RECEIVER -->
              <li class="d-flex justify-content-between mb-4">
                <div class="chat-body white p-3 z-depth-1">
                  <div class="header">
                    <strong class="primary-font">Lara Croft</strong>
                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                  </p>
                </div>
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5" alt="avatar" class="avatar rounded-circle mr-0 ml-3 z-depth-1">
              </li>
              <!--Chat Ends Here Receiver -->
            </ul>
            <div class="white">
              <div class="form-group basic-textarea">
                <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3" placeholder="Type your message here..."></textarea>
              </div>
            </div>
            <button type="button" class="btn btn-outline-pink btn-rounded btn-sm waves-effect waves-dark float-right">Send</button>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </div>
</div>