<!-- Footer -->
<footer class="page-footer font-small gray darken-3 mt-4">
    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->
</footer>
<!-- Footer -->
</div>
<!--MAIN BODY SECTION ENDS-->
<!-- SCRIPTS -->
<!-- JQuery -->
<script src="js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<!--Custom scripts-->
<script>
// SideNav Initialization
$(".button-collapse").sideNav();
var container = document.querySelector('.custom-scrollbar');
Ps.initialize(container, {
wheelSpeed: 2,
wheelPropagation: true,
minScrollbarLength: 20
});
$(document).ready(function() {
$('.mdb-select').material_select();
});
</script>
<script type="text/javascript" src="js/sweetalert.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<!-- <script type="text/javascript" src="js/main.js"></script> -->
<!-- Jquery Mobile -->
<script type="text/javascript" src="js/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="js/corejs/teacherposts.js"></script>
<script type="text/javascript">
app.initialize();
</script>
</body>
</html>